.index-page {
  padding: 24px;
  flex-grow: 1;
  min-height: 100%;
  background-color: #f5f5fc;
  min-width: 1560px;
  width: 100%;
  p {
    margin-bottom: 0;
  }
  .public-title {
    display: flex;
    justify-content: space-between;
    .title-msg {
      font-size: 20px;
      color: #304888;
      font-weight: 500;
    }
    .title-msg::before {
      content: "";
      width: 3px;
      height: 14px;
      background-color: #304888;
      display: inline-block;
      margin-right: 10px;
    }
    .date-select {
      display: flex;
      align-items: center;
      .select-picker {
        width: 210px;
        overflow: hidden;
        border: 1px solid #eeeeee;
        border-radius: 4px;
        display: flex;
        align-items: center;
        img {
          width: 14px;
          height: 14px;
          margin-right: 6px;
        }
        p {
          position: relative;
          display: flex;
          align-items: center;
        }
        p::before {
          content: "";
          width: 1px;
          height: 12px;
          background-color: #eee;
          display: inline-block;
          position: absolute;
          left: -12px;
          top: 1px;
        }
      }
      .select-coin-echarts {
        margin-left: 12px;
        .el-input--mini {
          .el-input__inner {
            height: 26px;
            line-height: 26px;
            border-color: #eee !important;
          }
        }
      }
      .down-unknow {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        border: 1px solid #eeeeee;
        background: rgba(248, 248, 248, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        cursor: pointer;
        img {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
  .p-18-20 {
    padding: 18px 20px;
  }
  //账户概览
  .index-account-balance {
    overflow: auto;
    height: 232px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    .acc-public {
      width: 49.4%;
      height: 100%;
      border-radius: 4px;
    }
    .account-msg {
      background-color: white;
      padding: 36px 60px;
      display: flex;
      .msg-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          width: 84px;
          height: 84px;
        }
        .bind-public {
          font-size: 16px;
          padding: 4px 14px;
          border-radius: 4px;
          margin-top: 24px;
          margin-bottom: 0;
          text-align: center;
        }
        .un-bind {
          border: 1px solid #e8158d;
          background: rgba(234, 31, 96, 0.11);
          color: #f05184;
          cursor: pointer;
        }
        .has-bind {
          background-color: #f8f8f8;
          color: #999;
        }
      }
      .msg-title {
        margin-left: 60px;
        display: flex;
        .title-inner {
          // display: flex;
          .account-name {
            font-size: 22px;
            color: #333;
            font-weight: 500;
            margin-bottom: 28px;
            img {
              width: 24px;
              height: 24px;
              margin-left: 10px;
              transform: translateY(5px) rotate(-180deg);
              transition: 0.3s all;
            }
            button {
              font-size: 13px;
              padding: 3px 8px;
              border-radius: 4px;
              color: #475eff;
              display: inline-block;
              transform: translateY(-3px);
            }
            .settlement-btn {
              background-color: #e2e4ff;
              margin-left: 20px;
            }
            .extract-btn{
              border: 1px solid #586BFE;
              margin-left: 10px;
            }
          }
          ul {
            padding: 0;
            li {
              list-style: none;
              display: flex;
              margin-bottom: 15px;
              p {
                font-size: 16px;
                height: 22px;
                overflow: hidden;
              }
              p:first-child {
                width: 100px;
                color: #999;
                text-align: justify;
                span {
                  display: inline-block;
                  width: 100%;
                  height: 0;
                }
              }
              p:last-child {
                margin-left: 38px;
                color: #666;
                letter-spacing: 1px;
              }
            }
          }
        }
      }
      .msg-title::before {
        content: "";
        width: 1px;
        height: 100%;
        background-color: #f8f8f8;
        display: inline-block;
        margin-right: 32px;
      }
    }
    .balance-msg {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .msg-box {
        width: 48.8%;
        background-color: white;
        border-radius: 4px;
        height: 45%;
        padding: 28px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name-balance {
          display: flex;
          align-items: center;
          img {
            width: 52px;
            height: 52px;
            margin-right: 26px;
          }
          .name-tooltip {
            img {
              width: 14px;
              height: 14px;
              margin-left: 4px;
              transform: translateY(2px);
            }
            p:first-child {
              font-size: 14px;
              color: #999;
            }
            p:nth-child(2) {
              font-size: 28px;
              color: #666;
              font-weight: 500;
              line-height: 30px;
            }
            .bill-tootip {
              font-size: 14px;
              color: #999;
              cursor: pointer;
              img {
                width: 14px;
                height: 14px;
              }
            }
          }
        }
        button {
          width: 60px;
          height: 30px;
          background-color: #f8f8f8;
          border-radius: 4px;
          border: 1px solid #eee;
          font-size: 14px;
          color: #666;
          transition: 0.3s all;
        }
        button:hover {
          background-color: #eee;
        }
      }
      .msg-box:nth-child(3) {
        margin-top: 2%;
      }
      .msg-box:last-child {
        margin-top: 2%;
      }
    }
  }
  //经营概括
  .index-operate-log {
    display: flex;
    height: 600px;
    min-height: 600px;
    justify-content: space-between;
    margin-bottom: 24px;
    .operate-obx {
      width: 58%;
      height: 100%;
      background-color: white;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      .echarts-box-mine {
        width: 100%;
        flex: 1;
        margin-top: 18px;
      }
    }
    .log-box {
      width: 40.8%;
      height: 100%;
      background-color: white;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      .log-list {
        flex: 1;
        margin-top: 18px;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .data-list {
          flex: 1;
        }
        .data-page {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
  //币种统计
  .index-coins-count {
    width: 100%;
    height: 488px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    .count-list {
      flex: 1;
      margin-top: 18px;
      display: flex;
      flex-direction: column;
      .data-list {
        flex: 1;
        .bold-text {
          font-size: 14px;
          color: #4266ff;
          font-weight: 500;
        }
        .balance-box {
          display: flex;
          img {
            width: 13px;
            height: 13px;
            cursor: pointer;
            transform: translateY(1px);
            margin-left: 4px;
          }
        }
      }
      .data-page {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .admin-view-bill {
    margin-bottom: 24px;
    ul {
      display: flex;
      padding: 0;
      justify-content: space-between;
      li {
        list-style: none;
        margin: 0;
        height: 140px;
        background-color: white;
        border-radius: 4px;
        width: 24.1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px 0 32px;
        .amount-msg {
          .icon-name {
            display: flex;
            align-items: center;
            img {
              width: 22px;
              height: 22px;
              margin-right: 8px;
            }
            .icon-title-msg {
              font-size: 20px;
              color: rgba(255, 255, 255, 0.65);
              margin-bottom: 0;
              img {
                cursor: pointer;
                width: 20px;
                height: 20px;
                transform: translateY(3px);
              }
            }
          }
        }
        .amount-num {
          display: flex;
          align-items: flex-end;
          p {
            font-size: 40px;
            font-weight: 500;
            color: white;
          }
          .bill-tootip {
            font-size: 14px;
            color: #999;
            cursor: pointer;
            margin-left: 12px;
            transform: translateY(-13px);
            .bill-touch {
              display: flex;
              align-items: center;
            }
            p {
              font-size: 14px;
              font-weight: 400;
            }

            .down-icon {
              width: 14px;
              height: 14px;
              margin-right: 4px;
              img {
                width: 100%;
                height: 100%;
                transform: translateY(-2px);
              }
            }
          }
        }
        .icon-box {
          img {
            width: 126px;
            height: 126px;
          }
        }
      }
    }
  }
}
.popver-coin-bill {
  li {
    list-style: none;
    div {
      font-size: 16px;
      color: #333;
      padding: 7px 16px;
      background-color: #f8f8f8;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p:first-child {
        font-weight: 500;
      }
      p:last-child {
        font-size: 12px;
        color: #3951fe;
        cursor: pointer;
        margin-left: 24px;
        display: flex;
        align-items: center;
        transform: translateY(1px);
        .iconfont {
          display: inline-block;
          transform: scale(0.8) translateY(-1px);
        }
      }
    }
    .count {
      padding: 8px 16px;
      font-size: 16px;
      color: #666;
    }
  }
  li:last-child {
    margin-bottom: 0;
  }
}
.out-padding {
  padding: 0;
}
